@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "~/Views/User/_Layout.cshtml";

}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }



        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }




    .container {
        padding: 2px 16px;
    }

</style>

<div class="card">

    <div class="container">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Lend Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Fine Amount</th>
                    <th scope="col">Status</th>


                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        
                            <td> @item.LendId</td>
                            <td>@item.User.UserName</td>
                            <td>@item.Book.BookTitle</td>
                            <td>@item.FineAmount</td>
                            <td>@item.LendStatus</td>

                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>